{% extends "base.html" %}
{% block title %}
  Listagem de Cursos | {{block.super}}
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="#">
          <img src="http://placehold.it/350x250" alt=""/>
        </a>
        <div class="caption">
          <h3>Informática Básica</h3>
          <p>Curso voltado para o público que deseja começar a conhecer o mundo dos cumputadores e periféricos. </p>
          <p><a href="#" class="btn btn-success" role="button">Button</a>
            <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="#">
          <img src="http://placehold.it/350x250" alt=""/>
        </a>
         <div class="caption">
          <h3>Excel Avançado</h3>
          <p>Curso voltado para o público que conhece o básico da ferramenta Excel e quer aprofuncar mais seus conhecimentos nesse mundo </p>
          <p><a href="#" class="btn btn-success" role="button">Button</a>
            <a href="#" class="btn btn-default" role="button">Button</a></p>
         </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="#">
          <img src="http://placehold.it/350x250" alt=""/>
        </a>
        <div class="col-sm">
          <div class="caption">
          <h3>Montagem e manutenção de computadores</h3>
          <p>Curso voltado para o público que conhece o básico de cumputadores, periféricos e quer aprofuncar mais seus conhecimentos nesse mundo </p>
          <p><a href="#" class="btn btn-success" role="button">Button</a>
            <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
      </div>
    </div>
      </div>
    </div>
  </div>
{% endblock %}